h1, p{
    background: -webkit-linear-gradient(10deg, rgb(32, 145, 221), rgb(91, 17, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:brightness(100%);
  }
  .full{
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
  }

body{
    background-color:#ffffff;
    background-color:#000000;
    height:100%;
}