@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


h1, p{
    background: -webkit-linear-gradient(10deg, rgb(32, 145, 221), rgb(91, 17, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:brightness(100%);
    font-family: 'Montserrat', sans-serif!important;
    
  }
  .full{
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
  }
a{
    font-family: 'Montserrat', sans-serif;
}

.hide{
    display:none;
}

body{
    background-color:#ffffff;
    height:100%;
    overflow-x:hidden;
}

html{
    scroll-behavior: smooth;
    
}

button:focus{
    outline:none!important;
}

.greyed{
    background:rgb(27, 27, 27)!important;
    opacity: 0.6;
}
.greyed:hover{
    transform:none!important;
}

.goog-te-banner-frame{
    display:none!important;
    visibility:none!important;

}

#google_translate_element{
    display:none!important;
}


@keyframes grow{
    0% { transform:scale(1)}
    50%{ transform:scale(5)}
    100% {transform:scale(1)}
}

@keyframes upDown{
    to { transform: translatey(20px);}
}

@keyframes translate{
    to { transform: translatex(900%);}
}

@keyframes bob{
    to{transform:translatey(20px);}
}

@keyframes crawl{
    0% {
        left: -250px;
      transform: scaleX(1);
    }
    49.999% {
      transform: scaleX(1);
    }
    50% {
      left: calc(100%);
      transform: scaleX(-1);
    }
    100% {
      left: -250px;
      transform: scaleX(-1);
    }
}

@keyframes jitter{
    0%{transform:rotate(0)}
    25%{transform:rotate(0.5deg)}
    50%{transform:rotate(0)}
    75%{transform:rotate(-0.5deg)}
    100%{transform:rotate(0)}
}